# Installer logs
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Environments
backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

# mypy
backend/.mypy_cache/
